.git
.gitignore
.venv
.envrc
.python-version
__pycache__
*.py[cod]
*.egg-info
build/
dist/
wheels/
sonarr.db
uv.lock
pyproject.toml
main.py
CLAUDE.md
README.md
docker-compose.yml
Dockerfile
.dockerignore
