export PROJECT_ROOT="/home/ramy/projects/aliass"
export PROJECT_ENV="aliass"
export UV_VENV_HOME=/home/ramy/.local/cache/uv/venv
source $UV_VENV_HOME/$PROJECT_ENV/bin/activate

export RADARR_CONFIG_PATH="configs/radarr"
export SONARR_CONFIG_PATH="configs/sonarr"
